  <!-- header or navBar -->
  <header>
    <div class="navContainer">
        <div class="logo">
            <img src="/images/navbar_img.png" alt="">
            <h1 style="padding: 15px;">Beauty With Care</h1>
        </div>
        <div class="link">
            <a href="#Product-bio">Blog</a>
            <!-- <a href="#NewsLetter">Benefits</a> -->
            <a href="#testimonal">Testimonals</a>
            <a href="#">Contact</a>
        </div>
    </div>
    </header>